<h2><%= "#{@auto_dealership.name}" %></h2>
  <ol>
    <p><%= "Location: #{@auto_dealership.city}, #{@auto_dealership.state}" %></p>
    <p><%= "Preowned Sales: #{@auto_dealership.preowned_sales}" %></p>
    <p><%= "Foreign Inventory: #{@auto_dealership.foreign_inventory}" %></p>
    <h4><a href="/auto_dealerships/<%=@auto_dealership.id%>/automobiles">Vehicles Available at this location (<%=@auto_dealership.automobiles.count%>)</a></h4>
  </ol>
