<p> Team Name: <%= @team.name %> </p>
<p> PLayer Count: <%= @team.player_count %> </p>
<p> <%= @team.champion %> </p>
<p> <%= @team.wins %> </p>
<p> <%= @team.created_at %> </p>
<p> <%= @team.updated_at %> </p>