<style>
body {
  background-image: url(https://images.pexels.com/photos/6966/abstract-music-rock-bw.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: black;
}
a:link, a:visited {
  background: transparent;
  color: blue;
  text-decoration: none;
}
a:hover {
  font-weight: 700;
  color: white;
}
</style>
<%= link_to "All Music Stores |", "/music_stores" %>
<%= link_to "All Instruments", "/instruments" %>
<h1><%= @music_store.name %></h1>
<%= link_to "Sort Alphabetically", "/music_stores/#{@music_store.id}/instruments/sort" %>
<br>
<%= form_with url: "/music_stores/#{@music_store.id}/instruments/filter", method: :get, local: true do |form| %>
  <h3><%= form.label :sort_by_price %></h3>
  <%= form.number_field :price %>
  <br>
  <%= form.submit "Find all above" %>
<% end %>
<br>
<h2>Instruments</h2>
<p><% @instruments.each do |instrument| %></p>
<h3><%= link_to instrument.kind, "/instruments/#{instrument.id}" %></h3>
  <h4>Store number: <%= instrument.music_store_id %></h4>
  <h4>Cost: $<%= instrument.cost %></h4>
  <% if instrument.rent_to_own == true %>
  <h4> Rent to own available </h4>
  <% else %>
  <h4> Rent to own unavailable </h4>
  <% end %>
  <%= button_to "Edit", "/instruments/#{instrument.id}/edit", method: :get %>
  <%= button_to "Delete", "/instruments/#{instrument.id}", method: :delete %>
<% end %>
<br>
<%= button_to "New Instrument", "/music_stores/#{@music_store.id}/instruments/new", method: :get %>

