<h5><a href="/automobiles"><%= "All Automobiles" %></a></h5><br>
<h5><a href="/auto_dealerships"><%= "All Dealerships" %></a></h5><br>
<h3>Add a Vehicle</h3>
<%= form_with url: "/auto_dealerships/#{@auto_dealership.id}/automobiles", method: :post, local: true do |form| %>
  <%= form.label :preowned %>
  <%= form.text_field :preowned %>
  <br>
  <%= form.label :year %>
  <%= form.number_field :year %>
  <br>
  <%= form.label :make %>
  <%= form.text_field :make %>
  <br>
  <%= form.label :model %>
  <%= form.text_field :model %>
  <br>
  <%= form.label :color %>
  <%= form.text_field :color %>
  <br>
  <%= form.label :automatic %>
  <%= form.text_field :automatic %>
  <br>
  <%= form.label :engine %>
  <%= form.text_field :engine %>
  <br>
  <%= form.label :horsepower %>
  <%= form.text_field :horsepower %>
  <br>
  <%= form.label :cylinders %>
  <%= form.number_field :cylinders %>
  <br>
  <%= form.label :drive_train %>
  <%= form.text_field :drive_train %>
  <br>
  <%= form.label :price %>
  <%= form.number_field :price %>
  <br>
  <br>
  <%= form.submit "Add to Automobiles at #{@auto_dealership.name}" %>
<% end %>
