<style>
body {
  background-image: url(https://images.ctfassets.net/3s5io6mnxfqz/7frDxzTDmtdJfuNN6IbXo8/6908053ae09c9097c81fee41fdd3f241/AdobeStock_212117205.jpg?fm=jpg&w=1200&fl=progressive);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: 'flex-end';
}
a:link, a:visited {
  background: transparent;
  color: Black;
  text-decoration: underline;
}
a:hover {
  font-weight: 700;
  color: grey;
}
</style>

<h1>Music Stores</h1>
<%= button_to "New Music Store", "/music_stores/new", method: :get %>
<% @music_stores.each do |music_store| %>
  <h3><%= link_to music_store.name, "/music_stores/#{music_store.id}" %></h3>
  <h3><%= music_store.created_at %></h3>
  <%= button_to "Edit", "/music_stores/#{music_store.id}/edit", method: :get %>
  <%= button_to "Delete", "music_stores/#{music_store.id}", method: :delete %>
<% end %>

