<%= link_to "Players Index", "/players" %>
<%= link_to "Teams Index", "/teams" %>
<% @players.each do |player| %>
<p> <%= player.team_id%>
    <%= player.name%> 
    <%= player.age%>
    <%= player.healthy%>
    <%= player.created_at%>
    <%= player.updated_at%> </p>
<%end%>