<%= link_to "Players Index", "/players" %>
<%= link_to "Teams Index", "/teams" %>
<p> <%= @player.team_id %> </p>
<p> <%= @player.name %> </p>
<p> <%= @player.age %> </p>
<p> <%= @player.healthy %> </p>
<p> <%= @player.created_at %> </p>
<p> <%= @player.updated_at %> </p>