<%= form_with(model: automobile, local: true) do |form| %>
  <% if automobile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(automobile.errors.count, "error") %> prohibited this automobile from being saved:</h2>

      <ul>
      <% automobile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :preowned %>
    <%= form.check_box :preowned %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :automatic %>
    <%= form.check_box :automatic %>
  </div>

  <div class="field">
    <%= form.label :engine %>
    <%= form.text_field :engine %>
  </div>

  <div class="field">
    <%= form.label :horsepower %>
    <%= form.number_field :horsepower %>
  </div>

  <div class="field">
    <%= form.label :cylinders %>
    <%= form.number_field :cylinders %>
  </div>

  <div class="field">
    <%= form.label :drive_train %>
    <%= form.text_field :drive_train %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :seating_capacity %>
    <%= form.number_field :seating_capacity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
