<style>
body {
  background-image: url(https://howtocleanthings.com/wp-content/uploads/2018/03/music_cymbals-768x512.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: right;
  color: white;
}
a:link, a:visited {
  background: transparent;
  color: white;
  text-decoration: underline;
}
a:hover {
  font-weight: 700;
  color: blue;
}
</style>
<%= link_to "All Music Stores", "/music_stores" %>
<h1>Instruments</h1>
<%= form_with url: "/instruments/find_exact", method: :get, local: true do |form| %>
  <%= form.text_field :search %>
  <br>
  <%= form.submit "Search exact match" %>
<% end %>
<br>
<%= form_with url: "/instruments/find_partial", method: :get, local: true do |form| %>
  <%= form.text_field :search %>
  <br>
  <%= form.submit "Search partial match" %>
<% end %>
<br>
<p><% @instruments.each do |instrument| %></p>
  <h3><%= link_to instrument.kind, "/instruments/#{instrument.id}" %></h3>
  <p>Store number: <%= instrument.music_store_id %></p>
  <p>Cost: $<%= instrument.cost %></p>
  <% if instrument.rent_to_own == true %>
  <p> Rent to own available </p>
  <% else %>
  <p> Rent to own unavailable </p>
  <% end %>
  <%= button_to "Edit", "/instruments/#{instrument.id}/edit", method: :get %>
  <%= button_to "Delete", "/instruments/#{instrument.id}", method: :delete %>
<% end %>

