<style>
body {
  background-image: url(https://cdn.shopify.com/s/files/1/0428/0209/products/Titanium-Guitar-Pick--_102814.jpg?v=1547798687);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: Black;
}
a:link, a:visited {
  background: transparent;
  color: black;
  text-decoration: underline;
}
a:hover {
  font-weight: 700;
  color: blue;
}
</style>

<h1>Instruments</h1>
<%= button_to "New Instrument", "/instruments/new", method: :get %>
<p><% @instruments.each do |instrument| %></p>
  <h3><%= link_to instrument.kind, "/instruments/#{instrument.id}" %></h3>
  <h4>Store number: <%= instrument.music_store_id %></h4>
  <h4>Cost: $<%= instrument.cost %></h4>
  <% if instrument.rent_to_own == true %>
  <h4> Rent to own available </h4>
  <% else %>
  <h4> Rent to own unavailable </h4>
  <% end %>
  <%= button_to "Edit", "/instruments/#{instrument.id}/edit", method: :get %>
  <%= button_to "Delete", "/instruments/#{instrument.id}", method: :delete %>
<% end %>

