<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h5><a href="/"><%= "Back to Home" %></a></h5><br>
    <h5><a href="/automobiles"><%= "All Automobiles" %></a></h5><br>
    <h5><a href="/auto_dealerships"><%= "All Dealerships" %></a></h5><br>
    <%= yield %>
  </body>
</html>
